node_modules/
.env
uploads/*
!uploads/.gitkeep
*.log
.DS_Store
build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.apk
*.aab
*.jks
*.keystore
local.properties
